.round-1{
  border-radius: 1rem;;
}

.round-2{
  border-radius: 2rem;;
}

.height-50{
  min-height: 50vh;
}

.myCard {
  box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  width: 50vw;
}

@media (max-width: 480px) {
  .myCard{
    width: 90vw;
  }
}